<% if signed_in? %>
  <div class="row">
    <div class="span8">
      <h3>توییت های کاربران</h3>
      <%= render 'shared/feed' %>
    </div>
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>به میکروپست خوش آمدید</h1>

    <h2>
      تو میکرو پست میتونید مثل توییتر توییت کنید!
    </h2>

    <%= link_to "ثبت نام کنید!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>