<% provide(:title, @user.name) %>
<div class="row">
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>توییتها (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  <aside class="span3">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= @user.email %>
    </section>
  </aside>
</div>